/* general */
body{
    background: #323232;
}

button{
    background-color: red;
    border-color: red;
    color: #583535;
    font-size: 20;
    font-weight: bold;
}

hr{
    margin-top: 20px;
    border-color: black;
    color: black;
}

span{
    margin-top: 5px;
    width: 100%;
    display: inline-block;
	line-height: 40px; /* 75% of height */
    font-size: 20;
}

.poll-name-small{
    text-align: left;
    font-size: 15;
}

.main-container{
    background: orange;

    max-width: 700px;
    min-width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    padding: 40px;

    display: block;
    text-align: center;

    border-radius: 25px;

    font-size: 25;
    font-weight: bold;
    color: #68553d;
}

input[type="checkbox"]{
	width: 40px; /*Desired width*/
	height: 40px; /*Desired height*/

	background: grey;
	border-radius: 10px;	
	
	cursor: pointer;
}


.button-container {
    margin-top: 40px;
}

.options-container{
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 100%;
    overflow-y: overlay;
}

/* post-vote */
.link-field{
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

/* result page */
.results-container{
    text-align: left;
    display: inline-block;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}
.single-result-name{
    float: left;
    width: 20%;
}

.single-result-ratio{
    float: left;
    margin-left: 20px;
    width: 60%;
}

.percentage-bar{
    background: rgba(255,25,0,0.5);
    padding-left: 10px;
}

.single-result-abs{
    float: right;
    width: 10%;
}

/* ######################## FOOTER ####################### */ 
.footer{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    width: 100%;
    background-color: grey;
    bottom: 0;
    left: 0;
    height: 35px;
}

.footerLink{
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    color: black;
}
.mid{
    margin-right: 25%;
    margin-left: 22%;
}

@media(max-width: 800px){
    .footer{
        height: unset;
    }

    .footerLink{
        font-size: 4vw;
    }
    
    .mid{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .main-container{
        margin-top: 1%;
        margin-bottom: 1%;
    
        padding: 2vw;
        border-radius: 3vw;
    }
    .main-title{
        font-size: 12vw;
    }
    
    .tokenInput{
        width: 50%;
        font-size: 15vw;
    }
    
    .go-button{
        margin-top: 5vw;
        height: 20vw;
        width: 40vw;
        font-size: 10vw;
    }
}
@media(min-width: 800px){
    .tokenInput{
        width: 30%;
        font-size: 40px;
    }
    .go-button{
        margin-top: 30px;
        height: 100px;
        width: 300px;
        font-size: 50px;
    }
    .main-title{
        font-size: 60px;
    }
}
