<html>
<head>
    {{ header }}
    <link rel="stylesheet" href=/static/site.css>
    <link rel="stylesheet" href=/static/viewcreate.css>
    <script src="/static/postcreate.js" defer></script>
</head>
</body>
    <div class="main-container" id="main-container">
        <div class="main-title" ><i>Poll created!</i> - <i id=pollIdent>{{ pollIdent }}</div>
        <div class="link-container">
            <hr>

            Vote-Link:
            <input class="link-field" type=text
                value={{ hostname }}viewvote?ident={{ pollIdent }}>
            </input>
            <hr>

            Results-Link: 
            <input class="link-field" type=text
                value={{ hostname }}results?ident={{ pollIdent }}>
            </input>
            <hr>

            {% if tokens %}
            <button class="small stretched" onClick="newTokenLink()">New vote-link w. Token</button>
            <input id=voteTokenLink class="link-field" type=text
                   value=""
            </input>
            {% endif %}
        </div>
        {% if tokens %}
        <hr>
        <div class="token-container">
            {% for tk in tokens %}
                {{ tk }}<br>
            {% endfor %}
        </div>
        {% endif %}
        <hr>
        <div class=adm-token-container>
            Admin Access Token: <i id=admToken>{{ admToken }}</i>
        </div>
    	<div class="button-container" id="button-container">
            <button onClick="window.location.href = window.location.origin">Main Page</button>
    	</div>
    </div>
    {{ footer }}
</body>
</html>
