<html>
  <head>
      {{ header }}
      <link rel="stylesheet" href=/static/site.css>
      <link rel="stylesheet" href=/static/viewcreate.css>
      <script src="/static/pollcreate.js"></script>
  </head>
  </body>
    <div id="main-container" class="main-container">
    	<div class="options-container" id="options-container">
    		<input id="question-input"  type="text" 
                               class="option-input option" placeholder="Type your question">
            <hr>
    		<input type="text" class="option-input option" placeholder="Enter poll option..">
    		<input type="text" class="option-input option" placeholder="Enter poll option..">
    	    <input type="text" class="option-input option" placeholder="Enter poll option..">
    	</div>
        <hr>
    	<div id="button-container" class="button-container">
            <span> Use Tokens? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <input class="vote-option" type=checkbox id="token-needed-input">
            </span>
            <span> Multiple Choice? &nbsp;&nbsp;&nbsp; 
                    <input class="vote-option" type=checkbox id="multi-possible-input">
            </span>
    	</div>
        <br>	
    	<div id="button-container" class="button-container">
    		<button onclick="createButton()">Create</button>
    		<button onclick="cancel()">Cancel</button>
    	</div>
    </div>
    {{ footer }}
  </body>
</html>
